################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineTestManagementSystem/FileContentIndex/3004a49b-f5f6-4f41-9407-0594d9330142.vsidx
/.vs/OnlineTestManagementSystem/DesignTimeBuild/.dtbcache.v2
